/* @@Author: Chritine A. Black
@Version:0.13
The main style sheet for the Cyrff site

Version 0.13 - Added styling for  game pages and bold style.
Version 0.12 - Added styling for sitemap page.
Version 0.11 - Added styling for sound clip page.
Version 0.10 - Styling the close button for the contact form.
Version 0.9 - Added styling for the contact form
Version 0.8 -  Fixed it for mobile.
Version 0.7 - Added styling for lyrics pages
Version 0.6 - Fixed images and change the colour of back button
Version 0.5 - Added styling for verticalspace div.
Version 0.4 - Fixed the footer.
Version 0.3 - Added more footer styling.
Version 0.2 - Added footer styling and the styling for for sale and submit profile pages
Version 0.1 - Create style sheet
*/

@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
	body{
		background-color: #800080;
		background-image: none;
	}
	
}

@media only screen and (min-device-width: 1024px){
	body{
		background-image:url('../background5.jpg');
		background-repeat: no-repeat;
		background-attachment:fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

html, body{
	height: 100%;
}

html{
	/*width: 100%;*/
	/*background-image:url('../background5.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	
}

body{
	/*background: -webkit-gradient(linear, left top, left bottom, from(#800080), to(#d200ee)) fixed;*/
	/*background-image:url('../background5.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	background-size: cover;
	/*Background-position: center;*/
	/*background-color: #800080;*/
	margin:0px;
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
    font-size: 1em;
	line-height: 1.2em;
}

.container{
	margin: 0px auto;
	width: 80%;
	/*background-color: #fff;*/
}

p{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

 .smaller{
	font-size: 0.750em;
	margin-top: 0;
	padding-top: 0;
}

p.smaller. span.smaller{
	font-size: 0.750em;
	margin-top: 0;
	padding-top: 0;
}

.bold{
	font-weight: bold;
}

h1, h2, h3{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	line-height: 1.24em;
}

a.normal{
	color: #ffffff;
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}

a.normal:hover{
	color: #800080;
	background-color: #ffffff;
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}


hr {
    color: #FFFFFF;
}

.button{
	background: -webkit-gradient(linear, left top, left bottom, from(#E86100), to(#F3B07F));
	background: -webkit-linear-gradient(top, #E86100,  #F3B07F);
	background: -moz-linear-gradient(top,  #E86100,  #F3B07F);
	background: -ms-linear-gradient(top, #E86100,  #F3B07F);
	background: -o-linear-gradient(top, #E86100,  #F3B07F);
	background: linear-gradient(to bottom, #E86100,  #F3B07F);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E86100', endColorstr='#F3B07F',GradientType=0 );
	padding: 10px;
	border: 2px solid #B54C00;
	-moz-border: 2px solid #B54C00;
	border-radius: 5px 5px 5px 5px; 
	-moz-box-shadow: -5px -5px 5px #9C4100;
	-webkit-box-shadow: :-5px -5px 5px #9C4100;
	box-shadow: -5px -5px 5px #9C4100;
	font-family: verdana;
	font-size: 14px;
	color: #800080;
}

.button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#006700), to(#00CD00));
	background: -webkit-linear-gradient(top, #006700,  #00CD00);
	background: -moz-linear-gradient(top,  #006700,  #00CD00);
	background: -ms-linear-gradient(top, #006700,  #00CD00);
	background: -o-linear-gradient(top, #006700,  #00CD00);
	background: linear-gradient(to bottom, #006700,  #00CD00);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006700', endColorstr='#00CD00',GradientType=0 );
	border: 2px solid #004E00;
	-moz-box-shadow: -5px -5px 5px #003400;
	-webkit-box-shadow: :-5px -5px 5px #003400;
	box-shadow: -5px -5px 5px #003400;
	cursor: pointer;
	color: #ffd700; 
}
.back{
	width:115px; 
	margin: 0px auto;
	padding:15px;
	color: #ffd700; 
	text-decoration: none;
	
}
	
.captioncontainer{
	margin-top: -28px;
	float:right;
	position: relative;
}

.caption{
	color:#800080; 
	background-color:#ffffff;
	z-index: 10;
	padding: 5px 10px;
}

a.buttonlink{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}

#content{
	 float: right;
	width: 69%;
	/*margin-bottom: 20px;
	padding-bottom: 30px*/
}

.clear{
	clear:both;
}

.verticalspace{
	width: 100%; 
	padding: 1% 0%; 
	margin: 1% 0%;
}

footer{
	background-color: #FFFFFF;
	color: #800080; 
	width: 94%; 
	margin: 10px; 
	padding: 10px;
}

footer  p{
	color: #800080; 
}

.footerLeft{
	float:left;
	width:49%;
}

.footerRight{
	float:right;
	width:263px;
}

footer a{
	color: #800080;
}

.supportedBrowersContainer{
	height: 107px; 
	width: 602px; 
	margin: 0px auto;  
	border: 2px solid purple; 
}

.supportedBrowser{
	height: 87px; 
	width: 130px;
	float: left; 
	padding: 10px;
}

.text{
	height: 34px; 
	width: 130px; 
}

.text p{
	font-size: 11px;
}

.image{
	width: 30px;
	margin: 0px auto;
}

.recordContainer {
    padding: 10px;
    width: 100%;
    /*min-height: 160px;*/
}
.recordDetails, 
.tracklisting {
    width: 43%;
    float: left;
    padding: 10px;
}
.recordDetails{
	/*height: 232px;
	vertical-align: middle;
	position: relative;*/
}
.recordDetails > ul {
    background-color: #FFFFFF;
    color: #800080;
    font-size: 12px;
    list-style: none outside none;
    padding: 5px;
    width: 200px;
}

.fieldline{
	/*border: 2px solid #FFFFFF;*/
	min-height: 50px;
	padding: 5px;
}
.fieldname{
	float: left;
	padding: 0;
	width: 150px;
	min-height: 35px;
}

.field{
	float: left;
	width: 250px;
}

.white{
	color: #ffffff;
}

#error{
	display:none;
}

.shopsContainer{
	/*border: 3px solid #fff;*/
	height: 116px;
	margin: 0 auto;
	width: 435px;
}

.shops{
	/*border: 3px solid #fff;*/
	float: left;
	height: 75px;
	width: 105px;
	padding: 20px;
}

img{
	display: inline-block;
}

.lyrics, .translation{
	width: 49%;
}

.lyrics{
	float:  left;
}

.translation{
	float: right;
}

#overlay{
	background: none repeat scroll 0% 0% ;
	background-color: rgba(128, 0, 128, 0.7); 
	height: 100%;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	z-index: 20;
}
.contactScreen{ 
	border: 5px solid #ffd700;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px 25px 25px 25px;
	position: fixed;
	left: 25%;
	top: 10%;
	display: none; 
	z-index: 100000; 
	width: 50%;
	padding: 40px 20px 20px 20px;
	height: 69%;
	background-color: #800080;
	color: #ffd700; 
	
}

.close{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
	/*border: 5px solid #fff;*/
	color: #ffd700; 
	text-decoration: none;
	font-size: 2em;
	background-color: #FFFFFF;
	border-radius: 20px 20px 20px 20px;
}

.contactContainer{
	width: 95%;
	margin: 0px auto;
	padding: 5px;
}

#audioContainer{
	margin:0px auto;  
	width: 460px;
}

#soundContainer{
	width:460px;
	margin: 0 auto;
}

.soundfilecontainer{
	background-color: #ffffff;
	color:#800080;
	display: block;
	position: relative;
	height: 15px;
	line-height:12px;
	border-bottom: 1px solid #ffd700;
	font-size: 0.75em;
}

.soundfilecontainer p{
	color:#800080;
	/*margin-top: -5px;*/
}

.soundfilecontainer:first-child{
	padding-top:10px; 
	height:40px;
}

.soundfilecontainer:last-child{
	border-bottom: none;
}

.songtitle{
	width: 216px;
	position:relative;
	display:block;
	float: left;
	height: 15px;
	line-height:12px;
	padding-left: 5px;
}

.albums{
	width: 227px;
	position:relative;
	display:block;
	float: right;
	height: 15px;
	line-height:12px;
	margin: auto;
	padding-left:5px;
}

a.info:link{
	/*Yes I know it's 1:45 on sunday and Yes I am listening to Cymru, Lloegr a Llanrwst*/
	color:#800080;
	text-decoration: none;
	cursor:pointer;
}

a.info:hover{
	cursor:pointer;
}

a.music:link{
	color:#800080;
	text-decoration: none;
	cursor:pointer;
}

a.music:hover{
	cursor:pointer;
}

.popup{
	border: 2px solid #ffd700;
	background-color: #ffffff;
	display: none;
	color:#800080;
	height: 100px;
	width: 200px;
	margin-left: 226px;
	margin-top: -20px;
	line-height:14px;
	z-index:10;
	position: relative;
}

.popup p{
	/*padding:10px;*/
	vertical-align: middle;
	top: 25%;
	margin-top: 10px;
	position: absolute;
}

.sitemapContainer{
    width:75%; 
    float: left;
}

.section{
    background: -webkit-gradient(linear, left top, left bottom, from(#E86100), to(#F3B07F));
	background: -webkit-linear-gradient(top, #E86100,  #F3B07F);
	background: -moz-linear-gradient(top,  #E86100,  #F3B07F);
	background: -ms-linear-gradient(top, #E86100,  #F3B07F);
	background: -o-linear-gradient(top, #E86100,  #57CDFF);
	background: linear-gradient(to bottom, #E86100,  #F3B07F);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E86100', endColorstr='#F3B07F',GradientType=1 );
    height: 157px;
    width:200px;
    margin-bottom: 15px;
    float: left;
    position: relative;
    margin-right: 20px;
    padding: 0px 0px 10px 0px
}

.section:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#006700), to(#00CD00));
	background: -webkit-linear-gradient(top, #006700,  #00CD00);
	background: -moz-linear-gradient(top,  #006700,  #00CD00);
	background: -ms-linear-gradient(top, #006700,  #00CD00);
	background: -o-linear-gradient(top, #006700,  #00CD00);
	background: linear-gradient(to bottom, #006700,  #00CD00);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006700', endColorstr='#00CD00',GradientType=1 );
	color: #ffd700;
}

.sectionHeader{
    background-color: #FFFFFF;
    color: #800080;
    width: 200px;
    text-align: center;
    padding: 5px 0px 2px 0px;
}

.sectionHeader > a{
    text-decoration: none;
}

.item{
    background-color: transparent;
    width: 190px;
    padding: 5px 5px 0px 5px;
}

.item:hover{
    background-color: #800080;
    color: #FFFFFF;
}

.item > a{
    color: #800080;
    text-decoration: none;
}

.section:hover > .item > a{
    color: #ffd700;
}

.section:hover > .item:hover > a{
    color: #FFFFFF;
}

#brick_wallContainer{
    width:400px; 
    height: 339px; 
    float: left; 
    overflow: hidden;
}

#brick_wall{
    background: url(/games/brick_wall2.gif);
}

.colour{
    top: -339px;
    position: relative;
    left: 175px;
    display: none;
}
.clearBtn{
    position: relative;
    top: -339px;
    left: 175px;
    display: none;
}

#button1, #button2, #button3{
    top: 300px;
    left: 200px;
}

#button1, #button3{
    display: none;
}

.hangmanContainer{
	width:67%; 
	background-color: #FFFFFF;  
	float: right; 
	border: 5px solid #ffd700; 
	border-radius: 6%; 
	box-shadow: -5px -5px 5px #A2A200;
	padding: 5px; 
	color: #800080; 
	text-align: center;
}

.hangmanContainer h2, .hangmanContainer h3, .letter a, .hangmanContainer  p{
	color: #800080;
}

.lettersContainer{
	width: 56%; 
	margin: 0px auto; 
	height: 45px;
}

.letter{
	width: 20px; 
	height:20px; 
	text-align: center; 
	float:left;
}

p.red{
	color: red;
	font-size: 32px;
}
