/* @@Author: Chritine A. Black
@Version:0.7
The main style sheet for the Cyrff site

Version 0.7 - Added styling for lyrics pages
Version 0.6 - Fixed images and change the colour of back button
Version 0.5 - Added styling for verticalspace div.
Version 0.4 - Fixed the footer.
Version 0.3 - Added more footer styling.
Version 0.2 - Added footer styling and the styling for for sale and submit profile pages
Version 0.1 - Create style sheet
*/

html, body{
	height: 100%;
}

html{
	/*width: 100%;*/
	background-image:url('../background5.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

body{
	/*background: -webkit-gradient(linear, left top, left bottom, from(#800080), to(#d200ee)) fixed;*/
	/*background-image:url('background5.jpg');
	background-repeat: no-repeat;
	/*Background-position: center;
	background-attachment:fixed;
	/*background-size: cover;*/
	background-color: #800080;
	margin:0px;
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
}

.container{
	margin: 0px auto;
	width: 80%;
	/*background-color: #fff;*/
}

p{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
}

 .smaller{
	font-size: 12px;
	margin-top: 0;
	padding-top: 0;
}

p.smaller. span.smaller{
	font-size: 12px;
	margin-top: 0;
	padding-top: 0;
}

h1, h2, h3{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
}

a.normal{
	color: #ffffff;
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}

a.normal:hover{
	color: #800080;
	background-color: #ffffff;
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}


hr {
    color: #FFFFFF;
}

.button{
	background: -webkit-gradient(linear, left top, left bottom, from(#E86100), to(#F3B07F));
	background: -webkit-linear-gradient(top, #E86100,  #F3B07F);
	background: -moz-linear-gradient(top,  #E86100,  #F3B07F);
	background: -ms-linear-gradient(top, #E86100,  #F3B07F);
	background: -o-linear-gradient(top, #E86100,  #F3B07F);
	background: linear-gradient(to bottom, #E86100,  #F3B07F);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E86100', endColorstr='#F3B07F',GradientType=0 );
	padding: 10px;
	border: 2px solid #B54C00;
	-moz-border: 2px solid #B54C00;
	border-radius: 5px 5px 5px 5px; 
	-moz-box-shadow: -5px -5px 5px #9C4100;
	-webkit-box-shadow: :-5px -5px 5px #9C4100;
	box-shadow: -5px -5px 5px #9C4100;
	font-family: verdana;
	font-size: 14px;
}

.button:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#006700), to(#00CD00));
	background: -webkit-linear-gradient(top, #006700,  #00CD00);
	background: -moz-linear-gradient(top,  #006700,  #00CD00);
	background: -ms-linear-gradient(top, #006700,  #00CD00);
	background: -o-linear-gradient(top, #006700,  #00CD00);
	background: linear-gradient(to bottom, #006700,  #00CD00);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006700', endColorstr='#00CD00',GradientType=0 );
	border: 2px solid #004E00;
	-moz-box-shadow: -5px -5px 5px #003400;
	-webkit-box-shadow: :-5px -5px 5px #003400;
	box-shadow: -5px -5px 5px #003400;
	cursor: pointer;
}
.back{
	width:115px; 
	margin: 0px auto;
	padding:15px;
	color: #ffd700; 
	text-decoration: none;
	
}
	
.captioncontainer{
	margin-top: -28px;
	float:right;
	position: relative;
}

.caption{
	color:#800080; 
	background-color:#ffffff;
	z-index: 10;
	padding: 5px 10px;
}

a.buttonlink{
	color: #ffd700; 
	font-family: Tahoma, Verdana, Ubuntu, Helvetica, sans-serif;
	text-decoration: none;
}

#content{
	 float: right;
	width: 69%;
	/*margin-bottom: 20px;
	padding-bottom: 30px*/
}

.clear{
	clear:both;
}

.verticalspace{
	width: 100%; 
	padding: 1% 0%; 
	margin: 1% 0%;
}

footer{
	background-color: #FFFFFF;
	color: #800080; 
	width: 94%; 
	margin: 10px; 
	padding: 10px;
}

footer  p{
	color: #800080; 
}

.footerLeft{
	float:left;
	width:49%;
}

.footerRight{
	float:right;
	width:263px;
}

footer a{
	color: #800080;
}

.supportedBrowersContainer{
	height: 107px; 
	width: 602px; 
	margin: 0px auto;  
	border: 2px solid purple; 
}

.supportedBrowser{
	height: 87px; 
	width: 130px;
	float: left; 
	padding: 10px;
}

.text{
	height: 34px; 
	width: 130px; 
}

.text p{
	font-size: 11px;
}

.image{
	width: 30px;
	margin: 0px auto;
}

.recordContainer {
    padding: 10px;
    width: 100%;
    /*min-height: 160px;*/
}
.recordDetails, 
.tracklisting {
    width: 43%;
    float: left;
    padding: 10px;
}
.recordDetails{
	/*height: 232px;
	vertical-align: middle;
	position: relative;*/
}
.recordDetails > ul {
    background-color: #FFFFFF;
    color: #800080;
    font-size: 12px;
    list-style: none outside none;
    padding: 5px;
    width: 200px;
}

.fieldline{
	/*border: 2px solid #FFFFFF;*/
	min-height: 50px;
	padding: 5px;
}
.fieldname{
	float: left;
	padding: 0;
	width: 150px;
	min-height: 35px;
}

.field{
	float: left;
	width: 250px;
}

.white{
	color: #ffffff;
}

#error{
	display:none;
}

.shopsContainer{
	/*border: 3px solid #fff;*/
	height: 116px;
	margin: 0 auto;
	width: 435px;
}

.shops{
	/*border: 3px solid #fff;*/
	float: left;
	height: 75px;
	width: 105px;
	padding: 20px;
}

img{
	display: inline-block;
}

.lyrics, .translation{
	width: 49%;
}

.lyrics{
	float:  left;
}

.translation{
	float: right;
}